.wrapper {
  padding-top: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 15px;
}
.scroll {
  scroll-snap-type: y mandatory;
  overflow-x: auto;
  height: 280px;
  &::-webkit-scrollbar {
    width: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5px;
  }
}
