.wrapper {
  padding-top: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 15px;
}
.block {
  display: flex;
  text-align: center;
  align-items: center;
  .title {
    font-size: 22px;
    margin-top: 24px;
    font-weight: 800;
    color: #fff;
  }
  .all {
    margin-top: 25px;
    margin-left: auto;
    color: #ff7a28;
    font-size: 14px;
    font-weight: 800;
  }
}
