.wrapper {
  text-align: center;
  img {
    margin: 24px 0;
    max-width: 230px;
    width: 100%;
    object-fit: cover;
  }
  h2 {
    padding-top: 50px;
  }
  p {
    font-size: 16px;
  }
  .btn {
    button {
      margin: 40px 0;
      background: #ff7a28;
      font-weight: 800;
      font-size: 16px;
      color: #fff;
    }
  }
}
