.wrapper {
  text-align: center;
  padding-top: 24px;
  .search {
    position: relative;
    z-index: 1;
    .searchImg {
      position: absolute;
      top: 22px;
      left: 28px;
      height: 24px;
      max-width: 24px;
      width: 100%;
    }
    .cog {
      cursor: pointer;
      position: absolute;
      top: 22px;
      right: 24px;
      z-index: 999;
    }
  }
}
